spring:
  jpa:
    hibernate:
      ddl-auto: validate   # 개발 중에는 create / create-drop / update 중 선택
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        format_sql: true

  flyway:
    enabled: true # 스프링 부트 기동 시 Flyway 자동 실행. (사실 기본값이 true라서 보통 생략해도 됩니다.)
    locations: classpath:db/migration # 마이그레이션 스크립트(예: V1__init.sql, V2__add_table.sql, R__refresh_views.sql)를 찾을 경로.
    validate-on-migrate: true # migrate 전에 검증(validate) 수행.
    clean-disabled: true # flyway clean(스키마의 모든 객체 드롭)을 금지. 운영/스테이징은 무조건 true 권장.

  security:
    oauth2:
      client:
        registration:
          naver:
            client-name: naver
            client-id: qiC2KMP792ei0J2lw6hI
            client-secret: jj5YUwEuWJ
            redirect-uri: "http://localhost:8080/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - nickname
              - email
          kakao:
            client-name: kakao
            client-id: 9cd57fcf776cd967a72be5ee8f683fc0
            redirect-uri: "http://localhost:8080/login/oauth2/code/kakao"
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
#              - account_email
        provider:
          naver:
            authorization-uri: "https://nid.naver.com/oauth2.0/authorize"
            token-uri: "https://nid.naver.com/oauth2.0/token"
            user-info-uri: "https://openapi.naver.com/v1/nid/me"
            user-name-attribute: response
          kakao:
            authorization-uri: "https://kauth.kakao.com/oauth/authorize"
            token-uri: "https://kauth.kakao.com/oauth/token"
            user-info-uri: "https://kapi.kakao.com/v2/user/me"
            user-name-attribute: id


  profiles:
    include: secret

  data:
    redis:
      host: localhost
      port: 6379
logging:
  level:
    org.hibernate.SQL: debug
