name: Build and Push to ECR

on:
  push:
    branches:
      - main

env:
  IMAGE_TAGS: spring

jobs:
  build-and-push:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAGS: ${{ env.IMAGE_TAGS }}
          DB_URL: ${{ secrets.DB_URL }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          S3_REGION: ${{ secrets.S3_REGION }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
          CLOUDFRONT_DOMAIN: ${{ secrets.CLOUDFRONT_DOMAIN }}
          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          NAVER_REDIRECT_URI: ${{ secrets.NAVER_REDIRECT_URI }}
          KAKAO_CLIENT_ID: ${{ secrets.KAKAO_CLIENT_ID }}
          KAKAO_REDIRECT_URI: ${{ secrets.KAKAO_REDIRECT_URI }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          ROUTE_FRONT: ${{ secrets.ROUTE_FRONT }}
        run: |
          echo "REGISTRY=$REGISTRY"
          echo "REPOSITORY=$REPOSITORY"
          echo "IMAGE_TAGS=$IMAGE_TAGS"
          
          docker build \
            --build-arg DB_URL="$DB_URL" \
            --build-arg DB_USERNAME="$DB_USERNAME" \
            --build-arg DB_PASSWORD="$DB_PASSWORD" \
            --build-arg REDIS_HOST="$REDIS_HOST" \
            --build-arg S3_REGION="$S3_REGION" \
            --build-arg S3_ACCESS_KEY="$S3_ACCESS_KEY" \
            --build-arg S3_SECRET_KEY="$S3_SECRET_KEY" \
            --build-arg S3_BUCKET="$S3_BUCKET" \
            --build-arg CLOUDFRONT_DOMAIN="$CLOUDFRONT_DOMAIN" \
            --build-arg NAVER_CLIENT_ID="$NAVER_CLIENT_ID" \
            --build-arg NAVER_CLIENT_SECRET="$NAVER_CLIENT_SECRET" \
            --build-arg NAVER_REDIRECT_URI="$NAVER_REDIRECT_URI" \
            --build-arg KAKAO_CLIENT_ID="$KAKAO_CLIENT_ID" \
            --build-arg KAKAO_REDIRECT_URI="$KAKAO_REDIRECT_URI" \
            --build-arg JWT_SECRET="$JWT_SECRET" \
            --build-arg ROUTE_FRONT="$ROUTE_FRONT" \
            -t $REGISTRY/$REPOSITORY:$IMAGE_TAGS .
          
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAGS

      - name: Start Instance Refresh for Spring ASG
        run: |
            aws autoscaling start-instance-refresh \
              --auto-scaling-group-name "spring-asg" \
              --preferences '{"MinHealthyPercentage":0,"SkipMatching":false}'
