name: Build and Push to ECR

on:
  push:
    branches:
      - main

env:
  IMAGE_TAGS: spring

jobs:
  build-and-push:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Generate application-stage.yml
        run: |
          cat <<'EOF' > src/main/resources/application-stage.yml
          spring:
            datasource:
              url: jdbc:mysql://database-1.cf4aua8kqfwl.ap-northeast-2.rds.amazonaws.com:3306/board?serverTimezone=UTC&useSSL=false
              username: admin
              password: 12345678
              driver-class-name: com.mysql.cj.jdbc.Driver


            data:
              redis:
                host: clustercfg.redis1.ss8ees.apn2.cache.amazonaws.com
                port: 6379


            route:
              front: https://ktb-rian.com

            security:
              oauth2:
                client:
                  registration:
                    naver:
                      client-name: naver
                      client-id: qiC2KMP792ei0J2lw6hI
                      client-secret: jj5YUwEuWJ
                      redirect-uri: "https://ktb-rian.com/login/oauth2/code/naver"
                      authorization-grant-type: authorization_code
                      scope:
                        - nickname
                        - email
                      provider: naver         
                    kakao:
                      client-name: kakao
                      client-id: 9cd57fcf776cd967a72be5ee8f683fc0
                      redirect-uri: "https://ktb-rian.com/login/oauth2/code/kakao"
                      authorization-grant-type: authorization_code
                      scope:
                        - profile_nickname
                      provider: kakao
                  provider:
                    naver:
                      authorization-uri: "https://nid.naver.com/oauth2.0/authorize"
                      token-uri: "https://nid.naver.com/oauth2.0/token"
                      user-info-uri: "https://openapi.naver.com/v1/nid/me"
                      user-name-attribute: response
                    kakao:
                      authorization-uri: "https://kauth.kakao.com/oauth/authorize"
                      token-uri: "https://kauth.kakao.com/oauth/token"
                      user-info-uri: "https://kapi.kakao.com/v2/user/me"
                      user-name-attribute: id

          aws:
            region: ap-northeast-2
            access_key: ${{ secrets.S3_AWS_ACCESS_KEY_ID }}
            secret_key: ${{ secrets.S3_AWS_SECRET_ACCESS_KEY }}
            bucket: ktb-rian-bucket
            cloud_front:
              domain: d2fgbrubzmrrk1.cloudfront.net
              default-profile-image-key: "default-profile.png" # s3에 올려둔 기본 이미지 경로

          jwt:
            secret: vmfhaltmskdlstkfkdgodyroqkfwkdbalroqkfwkdbalaaaaaaaaaaaaaaaabbbbb
          EOF

      - name: Build, tag, and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAGS: ${{ env.IMAGE_TAGS }}

        run: |
          echo "REGISTRY=$REGISTRY"
          echo "REPOSITORY=$REPOSITORY"
          echo "IMAGE_TAGS=$IMAGE_TAGS"
          
          docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAGS .
          
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAGS

      - name: Start ASG Instance Refresh
        run: |
          ASG_NAME="spring"
            
          aws autoscaling start-instance-refresh \
            --auto-scaling-group-name "$ASG_NAME" \
            --preferences MinHealthyPercentage=100,InstanceWarmup=60
            
          echo "Started instance refresh for $ASG_NAME"
